<div class="relative max-w-7xl mx-auto px-6 overflow-hidden">
    <div class="flex gap-4 overflow-x-auto scrollbar-hide">
        @for (product of suggestedProducts; track product.name) {
            <ng-container >
                <div class="flex-none w-60 bg-white shadow-lg rounded-lg p-4 border border-gray-200">
                  <img
                    [src]="product.image"
                    [alt]="product.name"
                    class="h-40 w-full object-cover rounded-lg"
                  />
                  <div class="mt-2">
                    <span class="text-sm text-orange-500 font-semibold block mb-1">★ Annonce premium</span>
                    <h3 class="text-md font-bold mt-1 truncate">{{ product.name }}</h3>
                    <p class="text-blue-600 text-lg font-semibold mt-1">{{ product.price }} DH</p>
                  </div>
                </div>
              </ng-container>
        }
      
    </div>
  </div>
  