<div class="p-6 bg-gray-50 rounded-lg shadow-lg max-w-4xl mx-auto">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Customer Reviews</h2>
  <div class="space-y-6">
    @for(review of reviews; track review.reviewerName){
      <div
      class="flex items-start space-x-4 bg-white p-4 rounded-lg shadow" >
      <img
        src="https://via.placeholder.com/50"
        alt="User Avatar"
        class="w-12 h-12 rounded-full"
      />
      <div>
        <h3 class="text-lg font-semibold text-gray-700">{{ review.reviewerName }}</h3>
        <p class="text-sm text-yellow-500">
          {{ starsArray(review.rating || 0) }}
          <span class="text-gray-500">({{ review.rating }}/5)</span>
        </p>
        <p class="text-gray-600 mt-1">
          {{ review.comment }}
        </p>
      </div>
    </div>
    }
    
  </div>
</div>
